#philippines {
  position: relative;

  width: 100%;
  height: 100%;
}

// .fil1 {
//   fill: #999999;
// }

.fil0 {
  fill: #cccccc;
}

.fil1:hover {
  transform: translateY(-0.15%);
  transform: rotateX(1%);
  transition: 1s;
  mix-blend-mode: multiply;
  opacity: 0.9;
  cursor: pointer;
}

.mapdiv {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #91b9f8;
}
.open {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.5s;
  height: 100vh !important;
}
.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  .blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .quezon {
    position: relative;
    width: 70%;
    transition: 0.5s;
    border: 2px solid #aaaaaa;
  }
}

.active {
  filter: blur(20px);
}
