@import "menu";
@import "media";
@import "trailmodal";
@import "pins&names";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: sans-serif;
  background-image: repeating-radial-gradient(
      circle at center center,
      rgba(46, 60, 130, 0.26) 0px,
      rgba(46, 60, 130, 0.26) 5px,
      transparent 5px,
      transparent 7px
    ),
    linear-gradient(135deg, hsl(199, 94%, 24%) 0%, hsl(199, 94%, 24%) 39%);
  background-size: 33px 33px;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 0.25rem;
}

.scroll::-webkit-scrollbar-track {
  background: #1e1e24;
}

.scroll::-webkit-scrollbar-thumb {
  background: #6649b8;
}

// .fil1 {
//   fill: #999999;
// }

.fil0 {
  fill: #cccccc;
  pointer-events: none;
}

.fil1 {
  transition: 3s;
  cursor: pointer;
}

.mapdiv {
  position: relative;
  overflow: hidden;
  #philippines {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }
}

.open {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.5s;
}
.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  z-index: 2;

  img {
    transition: 0.5s;
    max-height: 100vh;
    max-width: 70vw;
    position: relative;
    border: 2px solid #aaaaaa;
  }
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: not-allowed;
}

.close-leaflet {
  border: none;
  display: inline-block;
  overflow: hidden;
  color: black;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  z-index: 9999;

  position: absolute;
  right: 11%;
  top: 1.5%;
}

.close-leaflet:hover {
  color: red;
  transition: 0.5s;
}

.active {
  filter: blur(20px);
}
.activefirst {
  filter: blur(20px);
}

.trail-map {
  color: #000;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 0;
  background: #000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;

  .map-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    height: auto;
    transform: translateY(-5vw);

    .pins {
      max-width: 100%;
      height: auto;
    }
  }

  .trail-pin {
    position: absolute;
    transition: all 0.3s ease-in;
    transform: scale(0);
    .trail {
      max-width: 100%;
      height: auto;
    }
  }

  text {
    transition: 0.3s;
    position: absolute;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 1.25;
    fill: #000000;
    fill-opacity: 1;
    stroke: none;
  }
}

.pin:hover {
  cursor: pointer;
  opacity: 1;
}
#batanespin {
  left: 54%;
  top: 3%;
}
#ilocosnortepin {
  left: 40%;
  top: 16.5%;
}
#apayaopin {
  left: 45%;
  top: 17.3%;
}
#cagayanpin {
  left: 50%;
  top: 15%;
}
#ilocossurpin {
  left: 38%;
  top: 22.5%;
}
#abrapin {
  left: 41%;
  top: 20.5%;
}
#kalingapin {
  left: 46%;
  top: 21.5%;
}
#mtprovincepin {
  left: 43%;
  top: 23.5%;
}
#ifugaopin {
  left: 45%;
  top: 25.4%;
}
#isabelapin {
  left: 52%;
  top: 24%;
}
#launionpin {
  left: 36.5%;
  top: 26.5%;
}
#benguetpin {
  left: 39.5%;
  top: 27%;
}
#nuevavizcayapin {
  left: 44%;
  top: 28.5%;
}
#quirinopin {
  left: 48%;
  top: 29%;
}
#aurorapin {
  left: 50%;
  top: 30.5%;
}
#nuevaecijapin {
  left: 43%;
  top: 32.5%;
}
#pangasinanpin {
  left: 36%;
  top: 31%;
}
#tarlacpin {
  left: 37.5%;
  top: 33.5%;
}
#zambalespin {
  left: 34%;
  top: 34.5%;
}
#pampangapin {
  left: 39%;
  top: 36.5%;
}
#bulacanpin {
  left: 43%;
  top: 36.5%;
}
#bataanpin {
  left: 37%;
  top: 38.5%;
}
#rizalpin {
  left: 45.5%;
  top: 39%;
}
#cavitepin {
  left: 41.5%;
  top: 41%;
}
#batangaspin {
  left: 42.5%;
  top: 43.5%;
}
#lagunapin {
  left: 46.5%;
  top: 41%;
}
#quezonpin {
  left: 52%;
  top: 42%;
}
#camarinesnortepin {
  left: 60%;
  top: 41.7%;
}
#camarinessurpin {
  left: 65%;
  top: 45%;
}
#catanduanespin {
  left: 74.5%;
  top: 44%;
}
#albaypin {
  left: 68%;
  top: 47.2%;
}
#sorsogonpin {
  left: 72%;
  top: 50%;
}
#masbatepin {
  left: 67.5%;
  top: 52%;
}
#romblonpin {
  left: 55%;
  top: 51.5%;
}
#marinduquepin {
  left: 52.5%;
  top: 46.7%;
}
#orientalmindoropin {
  left: 46%;
  top: 49%;
}
#occidentalmindoropin {
  left: 43%;
  top: 49.5%;
}
#palawanpin {
  left: 28%;
  top: 62.5%;
}
#antiquepin {
  left: 53.5%;
  top: 60%;
}
#aklanpin {
  left: 55%;
  top: 57.5%;
}
#capizpin {
  left: 59.5%;
  top: 58.5%;
}
#iloilopin {
  left: 57%;
  top: 61%;
}
#guimaraspin {
  left: 58.5%;
  top: 63.5%;
}
#negrosoccidentalpin {
  left: 63.5%;
  top: 63.5%;
}
#negrosorientalpin {
  left: 62.5%;
  top: 70%;
}
#cebupin {
  left: 69.5%;
  top: 64.5%;
}
#boholpin {
  left: 74%;
  top: 68%;
}
#siquijorpin {
  left: 68%;
  top: 72%;
}
#southernleytepin {
  left: 83%;
  top: 65%;
}
#leytepin {
  left: 80%;
  top: 61%;
}
#biliranpin {
  left: 77%;
  top: 57.2%;
}
#samarpin {
  left: 82%;
  top: 56%;
}
#northernsamarpin {
  left: 80%;
  top: 52.5%;
}
#easternsamarpin {
  left: 85%;
  top: 56%;
}
#dinagatpin {
  left: 88%;
  top: 66%;
}
#surigaodelnortepin {
  left: 89.5%;
  top: 69%;
}
#surigaodelsurpin {
  left: 93%;
  top: 74%;
}
#agusandelnortepin {
  left: 87.5%;
  top: 73%;
}
#agusandelsurpin {
  left: 89.5%;
  top: 76%;
}
#davaoorientalpin {
  left: 95%;
  top: 83%;
}
#davaodeoropin {
  left: 92%;
  top: 81.5%;
}
#davaodelnortepin {
  left: 88.5%;
  top: 82%;
}
#davaocitypin {
  left: 86%;
  top: 83.5%;
}
#davaodelsurpin {
  left: 85%;
  top: 87%;
}
#davaooccidentalpin {
  left: 87.5%;
  top: 90.5%;
}
#saranganipin {
  left: 84.5%;
  top: 90.5%;
}
#southcotabatopin {
  left: 81%;
  top: 89.5%;
}
#sultankudaratpin {
  left: 77%;
  top: 88%;
}
#maguindanaopin {
  left: 75%;
  top: 84%;
}
#cotabatopin {
  left: 81%;
  top: 84%;
}
#bukidnonpin {
  left: 82%;
  top: 79%;
}
#misamisorientalpin {
  left: 81%;
  top: 74.5%;
}
#camiguinpin {
  left: 79%;
  top: 72%;
}
#lanaodelsurpin {
  left: 76%;
  top: 80%;
}
#lanaodelnortepin {
  left: 72%;
  top: 79.5%;
}
#misamisoccidentalpin {
  left: 69%;
  top: 77%;
}
#zamboangadelnortepin {
  left: 63%;
  top: 77.5%;
}
#zamboangadelsurpin {
  left: 66%;
  top: 80%;
}
#zamboangasibugaypin {
  left: 59%;
  top: 81.5%;
}
#zamboangacitypin {
  left: 55%;
  top: 84%;
}
#basilanpin {
  left: 52%;
  top: 88%;
}
#sulupin {
  left: 43.5%;
  top: 92%;
}
#tawitawipin {
  left: 33%;
  top: 96%;
}
///////////////
.mapnav {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mapnav-item {
  width: 100%;
}

.mapnav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.mapnav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.mapnav-link svg {
  width: 1rem;
  min-width: 3rem;
  margin: 0 1rem;
}
////////

.visible {
  display: block !important;
}

.mapmodal {
  display: none;
  position: fixed;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 0;
  z-index: 9;
}
/////////////////////////////////////////////////
.leaflet-popup:hover {
  .leaflet-popup-content-wrapper {
    height: 390px;
    width: 420px;
    border-width: 5px;
    border-style: inset;
    transition: 0.5s;
    img {
      left: -25px;
      transition: 0.5s;
    }
    iframe {
      position: relative;
      opacity: 1;
      top: -70px;
      visibility: visible;
      transition: 1s;
      left: 0;
      bottom: 0;
    }
  }
  .leaflet-popup-tip {
    height: 0;
    transition: 0.5s;
  }
}
.leaflet-popup-content-wrapper {
  position: relative;
  width: 320px;
  background: black;
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  border-radius: 0;
  border-width: 5px;
  border-style: outset;

  div {
    position: absolute;
    bottom: -3px;
    display: flex;
    align-items: center;

    img {
      position: relative;
      bottom: 5px;
      left: 0;
      border: 3px solid #b80f0a;
      border-radius: 50%;
    }

    a img {
      position: relative;
      border: 3px solid #00d192;
      border-radius: 50%;
      left: 0;
      bottom: 0;
    }
    li {
      position: relative;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  a img:hover {
    transform: rotateZ(360deg);
    transition: 500ms;
    border-radius: 50%;
    border: 3px solid hsl(108, 91%, 57%);
  }
}
.leaflet-popup-content {
  position: relative;
  padding: 0;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -50px;
    bottom: -50px;
  }
}
.leaflet-popup-content p {
  margin: 0;
}

.leaflet-popup-tip {
  background: black;
}
.leaflet-popup-close-button {
  display: none;
}

////////////trail-info////////

#divmap {
  position: relative;
}

#divmap .divpin {
  position: absolute;
  border: none;
  width: 5%;
}
#divmap text {
  position: relative;
  background: -webkit-linear-gradient(rgb(31, 199, 199), rgb(134, 236, 17));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
#divmap li {
  list-style: none;
}

#divmap li:hover img {
  width: 6%;
}

#divmap li p {
  color: #000000;
  font-style: italic;
  text-decoration: none;
}

#divmap li p:hover {
  cursor: pointer;
  color: teal;
  transition: 0.3s;
}

#divmap li div {
  position: absolute;
  max-width: 400px;
  height: auto;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;

  z-index: 999;
}
#image {
  position: relative;
}

.divpin {
  width: 6%;
}

.divpin:hover {
  cursor: pointer;
}

#divmap #pulag:hover #pulagtrails {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.mountaineeringlogo {
  position: absolute;
  right: 2rem;
}

.mountainpins {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    position: absolute;
    cursor: pointer;
    background: #aaa;
    width: 400px;
    padding: 0.5rem;
    border-radius: 20px;
    transform: translateY(50px);
    visibility: visible;
    opacity: 0;
    z-index: -1;
  }

  text {
    font-size: 1.2rem;
    transform: translateY(8px);
  }

  img {
    border: none;
    cursor: pointer;
    width: 35px;
  }
}
.mountainpins:hover {
  img {
    width: 45px;
    transition: 0.5s;
  }

  li {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

    transform: translateY(0);
    z-index: 999;
  }
}
